<config verbose="yes">

	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="File_system"/>
	</parent-provides>

	<default-route> <any-service> <parent/> <any-child/> </any-service> </default-route>

	<default caps="100"/>

	<start name="cbe_dump">
		<resource name="RAM" quantum="4M"/>
		<exit propagate="yes"/>
		<config/>
		<route>
			<service name="Block"> <child name="vfs_block"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="vfs_block">
		<resource name="RAM" quantum="4M"/>
		<provides> <service name="Block"/> </provides>
		<config verbose="no"
		        file="/cbe.img" writeable="yes" block_size="512">
			<vfs>
				<fs buffer_size="1M"/>
			</vfs>
			<policy label="cbe_dump" writeable="no"/>
		</config>
		<route>
			<service name="File_system"> <parent label="cbe_fs"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

</config>
